<%= render 'shared/errors', obj: @user %>

<div class="container">
  <div class="row">
  <%= form_for(@user, :html => {class: "row centered-form", role: "form"}) do |f| %>
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
              <h4><%= f.submit(@user.new_record? ? "User Sign Up" : "User Update", id: "links", disabled: true) %></h4>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form">
			    					<div class="form-group">
                      <%= f.text_field :username, class: "form-control input-sm",
placeholder: "Enter username", autofocus: true %>
			    					</div>
			    			<div class="form-group">
                  <%= f.email_field :email, class: "form-control input-sm", placeholder: "Enter email" %>
			    			</div>
			    					<div class="form-group">
                      <%= f.password_field :password, class: "form-control input-sm", placeholder: "Enter password" %>
			    					</div>
                <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: 'btn btn-info btn-block', id: "links", class: 'btn btn-primary btn-sm') %>
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
  <% end %>
  </div>
  </div>
